

body {
    background-color: #dfdcd8;
    background-image: url("https://cdn.shopify.com/s/files/1/0057/1044/6665/files/SR7.5_430x.png?v=1708075579");
    /* background-color: #faf0db; */

    margin: 0;
    padding: 0;
}

/* 基本設定 */



.tw_section-text {
    margin: 30px 0;
}

.tw_section-title {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.tw_section-title h2 {
    font-size: 1.21429em;
    font-family: "Yuji Syuku", serif;
    color: #666;
}



.tw_artist {
    max-width: 1140px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-wrap: wrap; /* 要素を折り返す */
    justify-content: flex-start; 
    
}

.tw_panel_detail {
    max-width:173px;
}






